<launch>
  <arg name="arg_viz" default="1"/>
  <arg name="node_start_delay_2" default="2.0" />
  <include file="$(find tme_startup)/launch/robots_start.launch" />
  <include file="$(find tme_startup)/launch/d_robot_nodes.launch">
    <arg name="robot_name" value="robot1" />
    <arg name="node_start_delay" value="2.0" />
  </include>
  <include file="$(find tme_startup)/launch/d_robot_nodes.launch" if="$(env tme_start_two)">
    <arg name="robot_name" value="robot2" />
    <arg name="node_start_delay" value="2.0" />
  </include>
  <include file="$(find tme_startup)/launch/d_robot_nodes.launch" if="$(env tme_start_three)">
    <arg name="robot_name" value="robot3" />
    <arg name="node_start_delay" value="2.0" />
  </include>
  <include file="$(find tme_startup)/launch/d_robot_nodes.launch" if="$(env tme_start_four)">
    <arg name="robot_name" value="robot4" />
    <arg name="node_start_delay" value="2.0" />
  </include>
  <include file="$(find tme_startup)/launch/d_robot_nodes.launch" if="$(env tme_start_five)">
    <arg name="robot_name" value="robot5" />
    <arg name="node_start_delay" value="2.0" />
  </include>
  <include file="$(find tme_startup)/launch/multi_map_merge.launch" />
  <include file="$(find tme_startup)/launch/decentralized_analytics.launch" />

  <node pkg="tme_exploration" type="trace_removal" name="tme_trace_removal" required="True" launch-prefix="bash -c 'sleep $(arg node_start_delay_2); $0 $@' ">
    <param name="number_of_robots" value="$(env tme_start_num)" />
  </node>
  <node pkg="tf2_ros" type="static_transform_publisher" name="merged_map_to_map_tf_broadcaster" args="0 0 0 0 0 0 /map /merged_map" />

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find tme_startup)/config/rviz_decentralized_setup.rviz" 
        if="$(eval arg('arg_viz') == 1)"
  />
</launch>