<launch>
    <group ns="robot1/map_merge"> 
        <param name="init_pose_x" value="$(env tme_start_robot1_x)"/>
        <param name="init_pose_y" value="$(env tme_start_robot1_y)"/>
        <param name="init_pose_z" value="$(env tme_start_robot1_z)"/>
        <param name="init_pose_yaw" value="$(env tme_start_robot1_yaw)"/>
    </group>

    <group ns="robot2/map_merge" if="$(env tme_start_two)">
        <param name="init_pose_x" value="$(env tme_start_robot2_x)"/>
        <param name="init_pose_y" value="$(env tme_start_robot2_y)"/>
        <param name="init_pose_z" value="$(env tme_start_robot2_z)"/>
        <param name="init_pose_yaw" value="$(env tme_start_robot2_yaw)"/>
    </group>

    <group ns="robot3/map_merge" if="$(env tme_start_three)">
        <param name="init_pose_x" value="$(env tme_start_robot3_x)"/>
        <param name="init_pose_y" value="$(env tme_start_robot3_y)"/>
        <param name="init_pose_z" value="$(env tme_start_robot3_z)"/>
        <param name="init_pose_yaw" value="$(env tme_start_robot3_yaw)"/>
    </group>

    <group ns="robot4/map_merge" if="$(env tme_start_four)">
        <param name="init_pose_x" value="$(env tme_start_robot4_x)"/>
        <param name="init_pose_y" value="$(env tme_start_robot4_y)"/>
        <param name="init_pose_z" value="$(env tme_start_robot4_z)"/>
        <param name="init_pose_yaw" value="$(env tme_start_robot4_yaw)"/>
    </group>

    <group ns="robot5/map_merge" if="$(env tme_start_five)">
        <param name="init_pose_x" value="$(env tme_start_robot5_x)"/>
        <param name="init_pose_y" value="$(env tme_start_robot5_y)"/>
        <param name="init_pose_z" value="$(env tme_start_robot5_z)"/>
        <param name="init_pose_yaw" value="$(env tme_start_robot5_yaw)"/>
    </group>

    <node pkg="multirobot_map_merge" type="map_merge" name="tme_merger">
        <param name="robot_map_topic" value="new_map"/>
        <param name="merged_map_topic" value="map"/>
        <param name="world_frame" value="map"/>
        <param name="known_init_poses" value="True"/>
        <param name="merging_rate" value="4.0"/>
        <param name="discovery_rate" value="2"/>
        <param name="estimation_rate" value="0.5"/>
        <param name="estimation_confidence" value="1.5"/>
    </node>
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_robot1_tf_broadcaster" args="0 0 0 0 0 0 /map /robot1/new_map"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_robot2_tf_broadcaster" args="0 0 0 0 0 0 /map /robot2/new_map"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_robot3_tf_broadcaster" args="0 0 0 0 0 0 /map /robot3/new_map"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_robot4_tf_broadcaster" args="0 0 0 0 0 0 /map /robot4/new_map"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_robot5_tf_broadcaster" args="0 0 0 0 0 0 /map /robot5/new_map"/>
</launch>